@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

@keyframes spin-slow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spin-slow {
  animation: spin-slow 5s linear infinite;
}

.bg-ifnu {
  background-color: #080808;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes disappear {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(100px);
  }
}

.scroll {
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

.scroll-out {
  animation: disappear linear;
  animation-timeline: view();
  animation-range: exit 0% 100%;
}
